# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.env
.venv
env/
venv/

# Distribution / packaging
build/
dist/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
*.spec

# Unit test / coverage reports
.coverage
.coverage.*
.pytest_cache/
.hypothesis/
.mypy_cache/

# Jupyter Notebook
.ipynb_checkpoints

# Flask stuff
instance/
.webassets-cache

# PyCharm
.idea/

# VS Code
.vscode/

# MacOS
.DS_Store

# System
Thumbs.db

# Temporary Files
*~
*.bak
*.tmp