#carouselExampleInterval {
    max-height: 600px; /* Устанавливаем максимальную высоту карусели */
    overflow: hidden; /* Скрываем все, что выходит за пределы */
    width: 40%; /* Задаем ширину карусели */
    margin: 0 auto; /* Центрируем карусель */
}

.carousel-item img {
    height: 500px; /* Устанавливаем высоту для изображений */
    object-fit: cover; /* Обрезаем изображение при необходимости */
}

h1 {
    font-size: 24px; /* Устанавливаем размер заголовка */
    margin: 10px 0; /* Отступы для заголовков */
    text-align: center; /* Центрируем текст заголовка */
}