{% extends 'base.html' %}

{% block title %}
    Загрузка CSV файла
{% endblock %}

{% block content %}
    <div class="container">
        <div class="upload-form">
            <h2>Загрузка и анализ CSV</h2>
            <form id="upload-form" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="file">Выберите CSV файл:</label>
                    <input type="file" class="form-control-file" id="file" name="file">
                </div>
                <p></p>
                <button type="button" class="btn btn-primary" id="upload-button">Загрузить файл</button>
                <p></p>
            </form>
            <div class="messages" id="messages">
                {% if error %}
                    <div class="alert alert-danger">{{ error }}</div>
                {% endif %}
            </div>
        </div>

        <div class="report-section" style="margin-top: 20px;">
            <button class="btn btn-success" id="generate-report-button">Произвести анализ данных</button>
            <div class="progress" style="margin-top: 10px; display: none;" id="progress-bar-container">
                <div class="progress-bar" id="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0"
                     aria-valuemin="0" aria-valuemax="100">0%
                </div>
            </div>
        </div>

        <div class="graph-container" style="margin-top: 20px;">
            {% if metrics %}
                <center><h2>Метрики</h2></center>
                <table class="table table-striped table-bordered mx-auto" style="width: 50%;">
                    <thead>
                    <tr>
                        <th class="text-center">Название метрики</th>
                        <th class="text-center">Значение</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for key, value in metrics.items() %}
                        <tr class="text-center">
                            <td>{{ key }}</td>
                            <td>{{ value }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}

            {% if graphs %}
                <div class="dropdown" style="margin-top: 20px; display: none;" id="dropdown-container">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Выберите график
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#" data-graph="all">Показать все</a>
                        {% for title, graph in graphs.items() %}
                            <a class="dropdown-item" href="#" data-graph="{{ title }}">{{ title }}</a>
                        {% endfor %}
                    </div>
                </div>

                <div id="all-graphs">
                    {% for title, graph in graphs.items() %}
                        <div class="single-graph" data-graph="{{ title }}">
                            <center><h2>{{ title }}</h2></center>
                            {{ graph|safe }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>

        $('#upload-button').on('click', function () {
            // Сброс сообщений и состояния перед загрузкой нового файла
            $('#messages').empty();
            $('.graph-container').empty();
            $('#dropdown-container').hide();

            var file_data = $('#file').prop('files')[0];
            var form_data = new FormData();
            form_data.append('file', file_data);

            $.ajax({
                url: '/upload',
                type: 'POST',
                dataType: 'json',
                contentType: false,
                processData: false,
                data: form_data,
                success: function (response) {
                    $('#messages').html('<div class="alert alert-' + (response.status === 'success' ? 'success' : 'danger') + '">' + response.message + '</div>');
                },
                error: function (xhr) {
                    $('#messages').html('<div class="alert alert-danger">Произошла ошибка при загрузке файла.</div>');
                }
            });
        });

        $(document).ready(function () {
            // Загрузка файла
            $('#upload-button').on('click', function () {
                // Очистка данных перед загрузкой нового файла
                $('.graph-container').empty();
                $('#dropdown-container').hide();

                var file_data = $('#file').prop('files')[0];
                var form_data = new FormData();
                form_data.append('file', file_data);
                $.ajax({
                    url: '/upload',
                    type: 'POST',
                    dataType: 'json',
                    contentType: false,
                    processData: false,
                    data: form_data,
                    success: function (response) {
                        $('#messages').html('<div class="alert alert-' + (response.status === 'success' ? 'success' : 'danger') + '">' + response.message + '</div>');
                    },
                    error: function (xhr, status, error) {
                        $('#messages').html('<div class="alert alert-danger">Произошла ошибка при загрузке файла.</div>');
                    }
                });
            });

            // Генерация отчета
            $('#generate-report-button').on('click', function () {
                // Показываем индикатор выполнения
                $('#progress-bar-container').show();
                $('#progress-bar').width('0%').text('0%');

                // Подключаемся к SSE для отслеживания прогресса
                var source = new EventSource('/progress');

                source.onmessage = function (event) {
                    var progress = parseInt(event.data);
                    $('#progress-bar').width(progress + '%').text(progress + '%');

                    if (progress === 100) {
                        source.close(); // Закрываем соединение после завершения

                        // Загружаем отчет после завершения анализа
                        $.ajax({
                            url: '/generate_report',
                            type: 'POST',
                            success: function (response) {
                                $('.graph-container').html($(response).find('.graph-container').html());
                                $('.dropdown-toggle').dropdown();
                                $('#dropdown-container').show();
                                $('#progress-bar-container').hide();
                            },
                            error: function (xhr, status, error) {
                                $('#messages').html('<div class="alert alert-danger">Произошла ошибка при формировании отчета.</div>');
                                $('#progress-bar-container').hide();
                            }
                        });
                    }
                };

                source.onerror = function (error) {
                    console.error("SSE error:", error);
                    source.close();
                    $('#messages').html('<div class="alert alert-danger">Ошибка подключения к потоку прогресса.</div>');
                    $('#progress-bar-container').hide();
                };
            });

            // Обработчик выпадающего списка
            $(document).on('click', '.dropdown-item', function (e) {
                e.preventDefault();
                var selectedGraph = $(this).data('graph');

                if (selectedGraph === 'all') {
                    $('.single-graph').show();
                } else {
                    $('.single-graph').hide();
                    $('.single-graph[data-graph="' + selectedGraph + '"]').show();
                }
            });

            // Инициализация Bootstrap dropdown
            $('.dropdown-toggle').dropdown();
        });
    </script>
{% endblock %}
