{% extends 'base.html' %}

{% block title %}
Загрузка csv файла
{% endblock %}

{% block content %}
    <h2>Загрузка csv файла</h2>
    <form id="upload-form"
          hx-encoding="multipart/form-data"
          hx-post="/upload"
          hx-target="#upload-status"
          hx-on="htmx:xhr:progress updateProgress(event)">
        <input type="file" name="file" />
        <input type="submit" value="Загрузить" />
    </form>
    <div id="upload-status"></div>
    <progress id="upload-progress" value="0" max="100"></progress>

    <script>
        function updateProgress(event) {
            const progress = document.getElementById('upload-progress');
            progress.value = event.detail.loaded / event.detail.total * 100;
        }
    </script>

{% endblock %}
